@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/*Colors:
  dark green : #388659
  light green: #52aa5e
  green-ish: #52aa8a
  blue: #3aaed8
  blue-ish: #2bd9fe
*/

html, body{
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: "Tahoma", Geneva, sans-serif
}

header {
  position: absolute;
  width: 100%;
  background-color: #52aa5e;
  top: 0px;
  margin: 0px;
  height: 50px;
  z-index: 2;
}

#cart {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(0%,-50%);
  height: 30px;
  margin: 0px;
  border: 2px solid white;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
}


#cart_link :hover {
  background-color: #2bd9fe
}

#logo {
  position: absolute;
  height: 70px;
  background-color: #3aaed8;
  left: 5%;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 3;
}

#logo h1 {
  color: white;
  margin: 0;
  padding: 0;
  line-height: 70px;
  font-family: "Arial Black", Gadget, sans-serif
}

#search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#search button {
  background-color: #52aa5e;
  border: 2px solid white;
  padding: 3px;
  cursor: pointer;
}

#button_wrapper {
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

#button_wrapper :hover {
  background-color: #2bd9fe
}

main {
  position: relative;
  padding-top: 200px;
  margin: auto;
  max-width: 1200px;
  min-width: 800px;
  min-height: calc(100vh - 100px);
}

#index_main main{
  margin: inherit;
}

main h2 {
  background-color: #52aa5e;
  margin: 0px;
  margin-bottom: 10px;
  padding-left: 10px;
  color: white;
}

#index_main h2 {
  margin-left: 5%;
}

#offers {
  width: 90%;
  padding: 0px;
  margin: 0px;
  margin-left: 10%;
  min-width: 210px;
}

.offer {
  display: inline-block;
  overflow: auto;
  margin: 1%;
  width: 45%;
}

.offer:hover {
    background-color: #2bd9fe;
    color: white;
}

.left {
  display: flex;
  padding: 1%;
  float: left;
}

.right {
  padding: 0.5%;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.name {
  margin: 0px;
  padding: 0px;
  padding-top: 1%;
  height: 80px;
  overflow: auto;
}

.price {
  padding-top: 3%;
}

#offers a {
  text-decoration: none;
  color: black;
}

aside {
  position: fixed;
  float: right;
  top: 185px;
  left: 85%;
  width: 12%;
  background-color: #52aa8a;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}

#tags{
  padding-left: 10%;
}

#tags input,#tags label {
  float: left;
}

#tags label {
  clear: left;
  width: 70%;
  height: 30px;
  text-align: left;
}

#apply {
  position: relative;
  float: left;
  clear: left;
  left: 40%;
  transform: translate(-40%, 0%);
  background-color: #52aa8a;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  font-weight: bold;
}

#apply:hover{
  background-color: #2bd9fe;
}

footer{
  position: relative;
  width: 100%;
  height: 100px;
  text-align: center;
  margin-top: 40px;
  border-top: 5px solid black;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #388659;
  font-family: 'Roboto', sans-serif;
}

footer p{
  color: white;
  margin: 0;
}

#footer_text {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%,-50%);
}
#Register{
  padding-right: 10%;
}

#Register #field{
 /* display: inline-block;*/
  position: absolute;
  float: right;
  top: 12%;
  right: 0%;
  width: 40%;
}

#login{
  position: relative;
  top: 12%;
  left: 5%;
  width: 40%;
  float: left;
}
#login .input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#login .submit{
  width: 100%;
  background-color: #52aa5e;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

#Register .input {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#Register .submit{
  width: 100%;
  background-color:#52aa5e;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}
main{

}
#wrapper{
  margin: auto;
}
#Register label{
  padding: 0.5%;
  font-family: 'Roboto', sans-serif;
}
#login label {
  padding: 0.5%;
  font-family: 'Roboto', sans-serif;
}
#Register legend{
  font-family: 'Roboto', sans-serif;

}
#login legend{
  font-family: 'Roboto', sans-serif;
}
.navn, .pris{
  float: right;
  padding-right:20%;
}
.bilde,.navn, .pris{
  display: inline-block;
}
.sum{
  padding-left: 45%;
}

main .submit{
  width: 100%;
  background-color:#52aa5e;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;

}
ul{
  list-style-type: none;
}

#buy_info {
  border: 2px solid #52aa5e;
  padding: 5px;
  margin-bottom: 20px;
}

#image {
  float: left;
}

#info {
  text-align: center;
  height: 360px;
  font-family: 'Roboto', sans-serif;
}

#price {
  margin-top: 5%;
  font-style: italic;
  text-decoration: underline;
}

#number {
  margin-top: 5%;
  width: 35px;
  margin-left: 1%;
}

#buy {
  display: block;
  margin: auto;
  margin-top: 5%;
  padding: 7px 20%;
  background-color: #52aa5e;
  border: none;
  color: white;
  font-weight: bold;
}

#name {
  height: 70px;
  overflow: auto;
}

#dummy {
  width: 90%;
  padding-left: 5%;
}
