@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
/*html, body{
  height: 100%;
} */
/*Colors:
  dark green : #388659
  light green: #52aa5e
  green-ish: #52aa8a
  blue: #3aaed8
  blue-ish: #2bd9fe
*/
body {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: "Tahoma", Geneva, sans-serif
}

header {
  position: absolute;
  width: 100%;
  background-color: #52aa5e;
  top: 0px;
  margin: 0px;
  height: 50px;
  z-index: 2;
}

#cart {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(0%,-50%);
  height: 30px;
  padding: 0px;
  margin: 0px;
  border: 2px solid white;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
}


#cart_link :hover {
  background-color: #2bd9fe
}

#logo {
  position: absolute;
  height: 70px;
  background-color: #3aaed8;
  left: 5%;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 3;
}

#logo h1 {
  color: white;
  margin: 0;
  padding: 0;
  line-height: 70px;
  font-family: "Arial Black", Gadget, sans-serif
}

#search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#search button {
  background-color: #52aa5e;
  border: 2px solid white;
  padding: 3px;
  cursor: pointer;
}

#button_wrapper {
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

#button_wrapper :hover {
  background-color: #2bd9fe
}

main {
  position: relative;
  padding-top: 200px;
  width: 80%;
  min-width: 800px;
  max-width: 1200px;
}

main h2 {
  background-color: #52aa5e;
  margin: 0px;
  margin-left: 5%;
  margin-bottom: 10px;
  padding-left: 10px;
  color: white;
}

#offers {
  width: 90%;
  padding: 0px;
  margin: 0px;
  margin-left: 10%;
  min-width: 210px;
}

.offer {
  display: inline-block;
  overflow: auto;
  margin: 1%;
  width: 45%;
}

.offer:hover {
    background-color: #2bd9fe;
    color: white;
}

.left {
  display: flex;
  padding: 1%;
  float: left;
}

.right {
  padding: 0.5%;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.name {
  margin: 0px;
  padding: 0px;
  padding-top: 1%;
  height: 80px;
  overflow: auto;
}

.price {
  padding-top: 3%;
}

#offers a {
  text-decoration: none;
  color: black;
}

aside {
  position: fixed;
  float: right;
  top: 185px;
  left: 85%;
  width: 12%;
  background-color: #52aa8a;
  text-align: center;
  padding-bottom: 10px;
}

#tags{
  padding-left: 10%;
}

.row {
  float: left;
  clear:left;
}
