{% extends "base.html" %}
{% block content%}

<main class="container col-10">
  <h2>Cart</h2>
  {% for pid, product in products.items() %}
  <div class="row col-12 align-items-center justify-content-between mt-3 border-bottom border-success">
    <img class="cart_img mb-2" src="{{url_for('static', filename='images/{}'.format(product['img']))}}" alt="{{product['name']}}">
    <a href="{{url_for('product', pid=pid)}}" class=""><h5 class="cart_name">{{product['name']}}</h5></a>
    <h5>&#215;{{product['quantity']}}</h5>
    <h5>{{product['price']}} NOK</h5>
  </div>
  {% endfor %}
  <div id="total" class="row col-12 justify-content-end mt-3 pt-1 pb-1">
    <h5 class="">Total: {{sum}} NOK</h5>
  </div>
  <form action="" method="POST" class="p-5 d-flex justify-content-center">
    {{buy_form.csrf_token}}
    {{buy_form.buy(class_='btn btn-md btn-success col-6')}}
  </form>
</main>

 {% endblock %}