{% extends "base.html" %}
{% block content%}
<main class="container col-10">
    <h2>{{title}}</h2>
    <div class="container col-8">
    <form class="container col-6" action="{{url_for('product_details', pid=product['pID'])}}" method="post" enctype = "multipart/form-data">
            {{prod_form.csrf_token}}
        <div class="form-group row justify-content-between mb-2">
            {{prod_form.name.label}}
            {{prod_form.name(class_='ml-2', value_='fdsf')}}
        </div>
        <div class="form-group row justify-content-between mb-2">
            {{prod_form.supplier.label}}
            {{prod_form.supplier(class_='ml-2')}}
        </div>
        <div class="form-group row justify-content-between mb-2">
            {{prod_form.quantity.label}}
            {{prod_form.quantity(class_='ml-2', min=1)}}
        </div>
        <div class="form-group row justify-content-between mb-2">
            {{prod_form.price.label}}
            {{prod_form.price(class_='ml-2', min=1)}}
        </div>
        <div class="form-group row justify-content-between mb-2">
            {{prod_form.year.label}}
            {{prod_form.year(class_='ml-2')}}
        </div>
        <div class="form-group row justify-content-between mb-2">
            {{prod_form.isbn.label}}
            {{prod_form.isbn(class_='ml-2')}}
        </div>
        <div class="form-group row justify-content-between mb-2">
            {{prod_form.status.label}}
            {{prod_form.status(class_='ml-2')}}
        </div>
        <div class="form-group row justify-content-between mb-2">
            {{prod_form.description.label}}
            {{prod_form.description(class_='ml-2')}}
        </div>
        <div class="form-group justify-content-between mb-2">
            {{prod_form.upload.label}}
            {{prod_form.upload(class_='ml-2')}}
        </div>
        {{prod_form.categories}}
        {{prod_form.submit(class_='btn btn-success')}}
     </form>
     <form class="mt-2" action="{{url_for('product_details', pid=product['pID'])}}" method="POST">
        {{del_form.submit(class_='btn btn-danger')}}
     </form>
    </div>
   </main>
{% endblock %}
