{% extends "base.html" %}
{% block content%}

<main class="container">
  <div class="row justify-content-between">
    <div class="col-12 col-lg-6">
  				<h2>Log in</h2>
  					<form class="form-group" action="{{url_for("welcome")}}" method="POST">
              {{log_form.csrf_token}}
              {{log_form.log_username.label}}
              {{log_form.log_username(class_='form-control', placeholder='Username')}}
              <ul>
                {% for error in log_form.log_username.errors %}
                  <li style="color: red; list-style-type: none;">{{error}}</li>
                {% endfor %}
              </ul>
              {{log_form.log_password.label}}
              {{log_form.log_password(class_='form-control', placeholder='Password')}}
              <ul>
                {% for error in log_form.log_password.errors %}
                  <li style="color: red; list-style-type: none;">{{error}}</li>
                {% endfor %}
              </ul>
              {{log_form.log_submit(class_='btn btn-success form-control mt-3')}}
              </form>
            </div>
              <div class="col-12 col-lg-6" id="reg">
                <h2>Register</h2>
                  <form class="form-group" action="{{url_for("welcome")}}" method="POST">
                    {{log_form.csrf_token}}
                    {{reg_form.first_name.label}}
                    {{reg_form.first_name(class_='form-control', placeholder='First Name')}}
                    {{reg_form.last_name.label}}
                    {{reg_form.last_name(class_='form-control', placeholder='Last Name')}}
                    {{reg_form.city.label}}
                    {{reg_form.city(class_='form-control', placeholder='City')}}
                    {{reg_form.address.label}}
                    {{reg_form.address(class_='form-control', placeholder='Address')}}
                    {{reg_form.country.label}}
                    {{reg_form.country(class_='form-control')}}
                    {{reg_form.username.label}}
                    {{reg_form.username(class_='form-control', placeholder='Username')}}
                    {{reg_form.password.label}}
                    {{reg_form.password(class_='form-control', placeholder='Password')}}
                    {{reg_form.confirm.label}}
                    {{reg_form.confirm(class_='form-control', placeholder='Confirm')}}
                    {{reg_form.submit(class_='btn btn-success form-control mt-3')}}
                  </form>
                </div>
            </div>
</main>

{% endblock %}