{% extends base.html" %}
{% block title %} |{{products.p_name}} {% endblock %}
{% block content %}
<main>
    <div id="buy_info">
      <img id="image" src="{{url_for("static", filename="images/{{products.image}}" alt="{{products.p_name}}" width="50%" height=200px;>
      <form id="info" action="{{url_for("add")}}" method="POST">
        <div id ="name"><h3>{{products.p_name}}</h3></div>
        <h3 id="price">Price:{{products.price}} NOK</h3>
        <label for="quant">Quantity:</label>
        <input id="number" type="number" name="quant" value="1" max="9" min="1">
        <input id="buy" type="submit" name="buy" value="ADD TO CART">
      </form>
    </div>
    <h2>Details</h2>
    <div id="details">
      <div id="left_column">
        <h4>Supplier: {{products.supplier}}</h4>
        <h4>Release Date: {{products.rel_year}}</h4>
        <h4>ISBN: {{products.isbn}}</h4>
      </div>
      <div id="right_column">
        <h4>Someone or Someting Inc.</h4>
        <h4>2020</h4>
        <h4>112222333-0</h4>
      </div>
    </div>
    <h2>Description</h2>
    <div id="dummy">
    <p>{{products.p_description}} </p>
   </div>
 </main>    
{% endblock %}