<div id="index_main">
    <main>
       <h2>Newest Deals</h2>
        <div id="offers">
           <article class="offer">
              <img class="left" src="static/placeholder.png" alt="placeholder" width="50%">
              <div class="right">
                <a href="product.html"><div class="name">Name of the product that is in this picture.</div></a>
                <h4 class="price">1000 NOK</h4>
              </div>
           </article>
           <article class="offer">
              <img class="left" src="static/placeholder.png" alt="placeholder" width="50%">
              <div class="right">
                <a href="product.html"><div class="name">Name of the product that is in this picture.</div></a>
                <h4 class="price">1000 NOK</h4>
              </div>
           </article>
           <article class="offer">
              <img class="left" src="static/placeholder.png" alt="placeholder" width="50%">
              <div class="right">
                <a href="product.html"><div class="name">Name of the product that is in this picture.</div></a>
                <h4 class="price">1000 NOK</h4>
              </div>
           </article>
           <article class="offer">
              <img class="left" src="static/placeholder.png" alt="placeholder" width="50%">
              <div class="right">
                <a href="product.html"><div class="name">Name of the product that is in this picture.</div></a>
                <h4 class="price">1000 NOK</h4>
              </div>
           </article>
           <article class="offer">
              <img class="left" src="static/placeholder.png" alt="placeholder" width="50%">
              <div class="right">
                <a href="product.html"><div class="name">Name of the product that is in this picture.</div></a>
                <h4 class="price">1000 NOK</h4>
              </div>
           </article>
           <article class="offer">
              <img class="left" src="static/placeholder.png" alt="placeholder" width="50%">
              <div class="right">
                <a href="product.html"><div class="name">Name of the product that is in this picture.</div></a>
                <h4 class="price">1000 NOK</h4>
              </div>
           </article>
     </div>
     </main>
   </div>