{% extends "base.html" %}
{% block content%}

<main>
    <div id="login" class="logreg">
    <h2>Log In</h2>
    <form action="{{url_for("login")}}" method="POST">
        <label for="user">Username: </label>
        <input type="text" name="user" value="" placeholder="Username">
        <label for="password" class="password">Password: </label>
        <input type="password" name="password" value="" placeholder="password">
      <input type="submit" name="log in" value="Log in" class="submit">
    </form>
</div>
  <div class="logreg">
    <h2>Register</h2>
    <form action="{{url_for("register")}}" method="POST">
        <label for="first_name">First name:</label>
        <input type="text" name="first_name" value="" placeholder="First name">
        <label for="last_name">Last name:</label>
        <input type="text" name="last_name" value=""placeholder="Last name">
        <label for="city">City:</label>
        <input type="text" name="city" value="" placeholder="City">
        <label for="address">Address:</label>
        <input type="text" name="address" value=""  placeholder="Address">
        <label for="country">Country:</label>
        <select name="country">
          <option value="1">Norway</option>
          <option value="2">Sweden</option>
          <option value="3">Denmark</option>
          <option value="4">Finland</option>
          <option value="5">Iceland</option>
        </select>
        <label for="user">Username:</label>
        <input type="text" name="user" value=""  placeholder="Username">
        <label for="password">Password:</label>
        <input type="password" name="password" value=""  placeholder="Password">
        <label for="conf_password">Confirm password:</label>
        <input type="password" name="conf_password" value="" class="input" placeholder="Confirm">
        <input type="submit" name="Register" value="Register" class="submit">
    </form>
</div>
  </main>

  {% endblock %}